<% if current_user %>
  <p>Hello <%=current_user.email%>!</p>
  <p>You are a [<%= current_user.role %>]</p>
  <% if current_user.admin?%>
    There are  <%=User.count%> users in the system. <br>
  <%end%>
  <%=link_to "Sign out",destroy_user_session_path, 'data-turbo-method': :delete %>
<% else %>
   <p>You are not signed in.</p>
   <p>
    <%=link_to "Sign up",new_user_registration_path %>
    <%=link_to "Login",new_user_session_path %>   
   </p>
<%end%>   
